<html>
<head>
<title> 仪器详细信息</title>
</head>
<body bgcolor="f5f5f5">
<table align=center width="100%">
<tr>
<td width="20%">
</td>
<td>
<h2 class="STYLE3">仪器详细信息</h2>
</td>
<td>
</td>
</tr>
<tr>
<td width="20%">
</td>
<td>

<p>
    <b>Snum:</b><%= @sheet.snum %>
</p>
<p>
   <b>Datetime:</b><%= @sheet.datetime %>
</p>



</td>
<td>
</td>
</tr>
</table>
</body>
</html>