<html>
<head>
    <title>仪器预约系统</title>
</head>
<body bgcolor="f5f5f5">
<table align=center width="100%">
<tr>
<td width="20%">
</td>
<td>
<h2 class="STYLE3">新建订单</h2>
</td>
<td>
</td>
</tr>
<tr>
<td width="20%" valign="top">

<%= render 'form' %>

<%= link_to 'Back', orders_path %>
</td>
<td>
</td>
</tr>
</table>
</body>
</html>