<html>
<head>
<title> 新添加仪器设备</title>
</head>
<body bgcolor="f5f5f5">
<table align=center width="100%">
<tr>
<td width="20%">
</td>
<td>
<h2 class="STYLE3">仪器已添加</h2>
</td>
<td>
</td>
</tr>
<tr>
<td width="20%">
</td>
<td>
查看你添加的仪器 <a href="/instruments/<%=@instrument.id %>">点击这里</a>
</td>
<td>
</td>
</tr>
</table>
</body>
</html>