<html>
<head>
    <title>仪器预约系统</title>
</head>
<body bgcolor="f5f5f5">
<table align=center width="100%">
<tr>
<td width="20%">
</td>
<td>
<h2 class="STYLE3">所有仪器列表</h2>
</td>
<td>
</td>
</tr>
<tr>
<td width="20%" valign="top">
<% for instrument in @instruments %>
	<li><%= instrument.offer_id %></li>
<%end%>
</td>
<td>
<u1>
<% for instrument in @instruments %>
	<li><a href="/instruments/<%= instrument.id %>"><%= instrument.name%></a>
	<a href="/instruments/<%= instrument.id %>/delete">Delete</a></ li>
	<br></br>
<% end %>
</u1>
</td>
<td>
</td>
</tr>
</table>
</body>
</html>